@use "../../../mixin.module.scss";
@import "../../../mixin.module.scss";
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

.mainContainer {
  min-width: 96vw;
  min-height: 100vh;
  background-color: #f5f6f7;
  padding-inline: 1.6vw;
  font-family: Manrope;
  @include mixin.flex-container(column, flex-start, flex-start, 1rem);

  .sprintInfo {
     @media screen and (min-height: 0px) and (max-height: 1020px) {
        height: 18vh;
      }
    // width: 92.22vw;
    width: 100%;
    height: 15.42vh;
    background-color: #ffffff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    // padding: .5rem;
    padding: 1.6vw;

    .breadcrumb {
      width: 100%;
      //   height: 30%;
      @include mixin.flex-container(row, flex-start, flex-start, 0.5rem);
      font-size: clamp(0.068125rem, -0.0002rem + 1.0938vw, 6.8359375rem);
      font-weight: 400;
      color: #8f97a2;
      margin-bottom: 1rem;
      p {
        &:first-child {
          cursor: pointer;
        }
        &:last-child {
          color: #000000d9;
          font-weight: 400;
        }
      }
    }
    > p {
      width: 100%;
      height: 33%;
      @include mixin.flex-container(column, center, flex-start);
      font-size: clamp(1.5rem, 0rem + 1.875vw, 4.5rem);
      font-weight: 700;
      color: #445164;
      &:last-child {
        height: min-content;
        font-size: clamp(0.068125rem, -0.0002rem + 1.0938vw, 6.8359375rem);
        font-weight: 400;
        color: #8f97a2;
      }
    }
  }

  .cardsContainer {
    width: 100%;
    // height: 17vh;
    background-color: transparent;
    @include mixin.flex-container(row, flex-start, flex-start, 1rem);
    .card {
      @media screen and (min-height: 0px) and (max-height: 1020px) {
        height: 15vh;
      }
      width: 22.22vw;
      height: 11.42vh;
      padding: 1rem;
      background-color: #ffffff;
      border-radius: 1rem;
      border: 0.1rem solid #eaecf0;
      @include mixin.flex-container(column, flex-start flex-start);
      box-shadow: 0 4px 16px -2px rgba(27, 37, 51, 0.06);
      padding-inline: 1.5rem;
      .info {
        width: 100%;
        @include mixin.flex-container(column, center, center, 0.3rem);
        > div {
          width: 100%;
          @include mixin.flex-container(row, flex-end, flex-end, 0.2rem);
          p {
            &:first-child {
              font-weight: 600;
            }
            font-size: 10px;
            font-weight: 400;
            color: #719919;
          }
        }
      }
      .sprintDetails {
        width: 100%;
        height: 42%;
        @include mixin.flex-container(row, flex-start, flex-end, 0.3rem);
        p {
          &:first-child {
            height: 100%;
            @include mixin.flex-container(column, center, center);
            font-size: 2.5vw;
            font-weight: 600;
            color: #445164;
            padding-bottom: 0.1rem;
          }
          &:last-child {
            font-size: clamp(0.068125rem, -0.0002rem + 1.0938vw, 6.8359375rem);
            font-size: 400;
            height: 70%;
            padding-bottom: 0.1rem;
          }
        }
      }
      > p {
        width: 100%;
        min-height: 30%;
        font-size: clamp(0.068125rem, -0.0002rem + 1.0938vw, 6.8359375rem);
        font-weight: 400;
        color: #8f97a2;
        margin-top: 0.3rem;
      }
    }
  }

  .content {
    width: 100%;
    @include mixin.flex-container(row, flex-start, flex-start, 1rem);
    .left {
      width: auto;
      @include mixin.flex-container(column, flex-start, flex-start, 1rem);
      .burnDownChartContainer {
        width: 61vw;
        height: 40vh;
        background-color: white;
        border-radius: 1rem;
        padding-inline: 1rem;
        .heading {
          height: 7vh;
          font-size: clamp(0.068125rem, -0.0002rem + 1.0938vw, 6.8359375rem);
          font-weight: 600;
          padding: 1rem;
          padding-left: 0.5rem;
        }
        .burnDownChart {
          width: 100%;
          height: 32vh;
          //  padding-right: 2rem;
          // margin-top: 0.5rem;
          // overflow: scroll;
        }

        // .legend {
        //   width: 100%;
        //   // height: 8vh;
        //   @include mixin.flex-container(row, flex-start, center, 0.8em);
        //   // padding-inline: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
        //   padding-left: 2rem;
        //   > div {
        //     @include mixin.flex-container(row, center, center, 0.5rem);
        //     span {
        //       min-width: clamp(0.068125rem, -0.0002rem + 1.0938vw, 6.8359375rem);
        //       min-height: clamp(0.068125rem, -0.0002rem + 1.0938vw, 6.8359375rem);
        //       border-radius: 0.2rem;
        //     }
        //     p {
        //       font-size: clamp(0.555625rem, 0rem + 0.6945vw, 1.666875rem);
        //       font-weight: 400;
        //       color: #445164;
        //     }
        //   }
        // }
      }

      .sprintStoriesContainer {
        * {
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        width: 61vw;
        height: 19vw;
        overflow: hidden;
        background-color: #ffffff;
        padding-inline: 1.4rem;
        border-radius: 1rem;
        .storiesHeading {
          width: 100%;
          height: 5vh;
          @include mixin.flex-container(row, space-between, flex-start);
          > div {
            width: auto;
            height: 100%;
            @include mixin.flex-container(row, flex-start, center, 0.5rem);
            &:first-child {
              font-size: clamp(
                0.068125rem,
                -0.0002rem + 1.0938vw,
                6.8359375rem
              );
              font-weight: 600;
              color: #242f3e;
            }
            &:last-child {
              p {
                &:first-child {
                  background-color: #5e43d8;
                  color: white;
                  width: clamp(1.375rem, 0rem + 1.7188vw, 4.125rem);
                  height: clamp(1.375rem, 0rem + 1.7188vw, 4.125rem);
                  @include mixin.flex-container(row, center, center);
                  border-radius: 100%;
                  font-size: 0.5em;
                  font-weight: 400;
                }
                &:last-child {
                  font-size: clamp(
                    0.068125rem,
                    -0.0002rem + 1.0938vw,
                    6.8359375rem
                  );
                  font-weight: 500;
                  color: #5e43d8;
                }
              }
            }
          }
        }
      }
    }
    .right {
      width: 40vw;
      height: auto;
      @include mixin.flex-container(column, flex-start, flex-start, 1rem);
    }
  }
}
