@use "../../mixin.module.scss";
@import "../../mixin.module.scss";

.mainContainer {
  width: 100vw;
  height: 88vh;
  background-color: $background;
  @include mixin.flex-container(column, flex-start, flex-start);
  @media only screen and (max-width: 768px) {
    @include mixin.flex-container(column, flex-start, flex-start);
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
  }

  .mainContent {
    @media only screen and (max-width: 768px) {
      @include mixin.flex-container(column, flex-start, flex-start);
    }
    width: 100vw;
    height: 100%;
    @include mixin.flex-container(row, flex-start, flex-start);
    .left {
      @media only screen and (max-width: 768px) {
        width: 100%;
        @include mixin.flex-container(column, flex-start, flex-start, 2vw);
      }
      width: 50%;
      height: 100%;
      padding: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem);
      padding-top: 0;
      @include mixin.flex-container(column, flex-start, flex-start, 1vw);
      .top {
        width: 100%;
        height: 45%;
        @include mixin.flex-container(column, flex-start, flex-start, 0.5vw);
        @media only screen and (max-width: 768px) {
          @include mixin.flex-container(column, flex-start, flex-start, 2vw);
        }
        .sprintContainer {
          .header {
            @include mixin.flex-container(
              row !important,
              space-between !important,
              center !important
            );
          }
        }
        .membersContainer {
          position: relative;
          > img {
            position: absolute;
            width: clamp(1.25rem, 0rem + 1.5625vw, 3.75rem);
            right: 0.5rem;
            top: 10%;
            background-color: #0080ff20;
            padding: 0.2rem;
            border-radius: 100%;
            cursor: pointer;
            box-shadow: 0px 6px 10px 0px #171616;
            transition: all 0.3s ease;
          }
          .show {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }
          .hide {
            opacity: 0;
            visibility: hidden;
            transform: translateY(200%);
          }
        }
        .sprintContainer,
        .membersContainer {
          @media only screen and (max-width: 768px) {
            border-radius: 1vw;
            gap: 0.7rem;
          }
          width: 100%;
          height: 50%;

          padding: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
          overflow: scroll;
          background-color: $surface;
          border-radius: 0.4vw;
          @include mixin.flex-container(column, space-between, flex-start);

          .header {
            width: 100%;
            @media only screen and (max-width: 768px) {
              // flex-wrap: wrap;
            }
            @include mixin.flex-container(row, space-between, center, 0.2rem);
            > span {
              @media only screen and (max-width: 768px) {
                width: 100%;
                font-size: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem) !important;
              }
              width: 60%;
              @include mixin.flex-container(row, flex-start, center, 0.2rem);
              > p {
                color: $onSurfacePrimary;
                font-size: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem);
                font-weight: 500;
                letter-spacing: 0.1vw;
                @media only screen and (max-width: 768px) {
                  font-size: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem);
                }
                &:first-child {
                  max-width: 60%;
                  white-space: nowrap; /* Prevent text from wrapping */
                  overflow: hidden;
                  text-overflow: ellipsis; /* Show ellipsis for overflow text */
                }
                &:last-child {
                  @media only screen and (max-width: 768px) {
                    width: min-content;
                    height: min-content;
                    padding: 0.1rem 0.2rem;
                    font-size: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
                  }
                  width: 1.6vw;
                  height: 1.6vw;
                  font-size: clamp(0.555625rem, 0rem + 0.6945vw, 1.666875rem);
                  @include mixin.flex-container(row, center, center, 1vw);
                  border-radius: 100%;
                  padding: 0.1rem;
                  // padding: 0.1rem 0.35rem;
                  // background-color: #bb86fc1f;
                  box-shadow: 4px 2px 10px 2px #171616;

                  color: $primary;
                }
              }
            }
            .status {
              @include mixin.flex-container(row, flex-start, center, 0.5rem);
              @media only screen and (max-width: 768px) {
                @include mixin.flex-container(
                  row,
                  flex-start,
                  flex-end,
                  0.2rem
                );
              }
              > div {
                @media only screen and (max-width: 768px) {
                  border-radius: 0.1rem;
                }
                margin-right: clamp(2rem, 0rem + 2.5vw, 6rem);
                @include mixin.flex-container(row, flex-start, center, 0.2rem);
                // box-shadow: 0px 6px 10px 0px rgb(23, 22, 22);
                padding: clamp(0.2225rem, 0.0003rem + 0.2777vw, 0.666875rem);
                // padding-inline: clamp(
                //   0.2225rem,
                //   0.0003rem + 0.2777vw,
                //   0.666875rem
                // );
                border-radius: 0.2rem;
                background-color: #1c1b1b;
                p {
                  &:first-child {
                    @media only screen and (max-width: 768px) {
                      width: 0.25rem;
                      height: 0.25rem;
                    }
                    width: 0.4rem;
                    height: 0.4rem;
                    border-radius: 100%;
                    background-color: #007bff;
                  }
                  &:last-child {
                    @media only screen and (max-width: 768px) {
                      font-size: clamp(
                        0.2225rem,
                        0.0003rem + 1.977vw,
                        0.666875rem
                      );
                    }
                    color: #007bff;
                    // border-bottom: 0.1vw solid #007bff;
                    padding-inline: clamp(
                      0.11125rem,
                      0rem + 0.1391vw,
                      0.33375rem
                    );
                    font-size: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
                  }
                }
              }

              span {
                @media only screen and (max-width: 768px) {
                  border-radius: 0.15rem;
                  font-size: clamp(0.5rem, 0rem + 0.325vw, 1.5rem);
                  padding: clamp(0.11125rem, 0rem + 0.1391vw, 0.33375rem);
                  padding-inline: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
                }
                font-size: clamp(0.61125rem, 0rem + 0.7641vw, 1.83375rem);
                // padding: clamp(0.11125rem, 0rem + 0.1391vw, 0.33375rem);
                padding-inline: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
                border-radius: 0.2vw;
                box-shadow: 0px 6px 10px 0px rgb(23, 22, 22);
                &:first-child {
                  background-color: #05c6051a;
                  color: #0dac0d;
                }
                &:nth-child(2) {
                  background-color: #bb86fc1f;
                  color: $primary;
                }
                &:last-child {
                  background-color: #68758220;
                  color: #a2afbe;
                  // background-color: #0080ff20;
                  // color: #007bff;
                  // background-color: $background;
                  // color: $onSurfaceSecondary;
                }
              }
            }
          }
          .tagsContainer {
            @media only screen and (max-width: 768px) {
              height: 12vh;
              gap: 0.6rem;
            }
            width: 100%;
            height: 10vh;
            position: relative;
            overflow: scroll;
            @include mixin.flex-container(row, flex-start, flex-start, 1vw);
            flex-wrap: wrap;
            padding: clamp(0.2225rem, 0.0003rem + 0.2777vw, 0.666875rem);

            .tags {
              @media only screen and (max-width: 768px) {
                font-size: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
                max-width: 6rem;
                white-space: nowrap; /* Prevent text from wrapping */
                overflow: hidden;
                text-overflow: ellipsis; /* Show ellipsis for overflow text */
              }
              position: relative;
              width: auto;
              height: fit-content;
              cursor: pointer;
              font-size: clamp(0.555625rem, 0rem + 0.6945vw, 1.666875rem);
              border-radius: 0.2rem;
              padding: 0.25rem 0.5rem;
              background-color: $background;
              color: $onSurfaceSecondary;
              font-weight: 500;
              transition: ease-in-out 100ms;
              // background-color: #0e0e0e32;
              // color: #a8b5c6;
              background-color: #68758220;
              color: #a2afbe;
              &:hover {
                // transform: translateY(-4px);
                scale: 1.05;
                background-color: #0080ff20;
                color: #007bff;
                box-shadow: 0px 6px 10px 0px rgb(23, 22, 22);
              }

              span {
                position: absolute;
                width: 0.3rem;
                height: 0.3rem;
                border-radius: 100%;
                background-color: #007bff;
                top: -0rem;
                right: -0.1rem;
              }
            }
            .membersTags {
              overflow: visible !important;
            }

            #selected {
              background-color: #bb86fc1f;
              color: $primary;
              box-shadow: 0px 6px 10px 0px rgb(23, 22, 22);
            }
            .active {
              background-color: #05c6051a;
              color: #0dac0d;
            }
            .closed {
              //   background-color: rgba(0, 128, 255, 0.124);
              // color: #007bff;
              background-color: #68758220;
              color: #a2afbe;
            }
          }
          #loaderContainer {
            @include mixin.flex-container(column, center, center);
          }

          @media only screen and (max-width: 768px) {
            .member {
              font-size: clamp(0.13625rem, 0rem + 2.218vw, 13.625rem);
              border-radius: 1vw;
            }
          }
        }
      }
      .bottom {
        width: 100%;
        height: 55%;
        @include mixin.flex-container(column, flex-start, flex-start, 0.5rem);
        .StoriesHeading {
          height: 10%;
          width: 100%;
          @include mixin.flex-container(row, flex-start, flex-start, 1vw);
          span {
            @media only screen and (max-width: 768px) {
              width: fit-content;
            }

            @include mixin.flex-container(row, flex-start, center, 0.5rem);
            height: clamp(2rem, 0rem + 2vw, 6rem);
            background-color: $surface;
            color: $onSurfacePrimary;
            padding-inline: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
            border-radius: 0.2rem;
            p {
              &:last-child {
                @media only screen and (max-width: 768px) {
                  width: 1.2rem;
                  height: 1.2rem;
                  padding: 0.2rem 0.35rem;
                  font-size: clamp(0.555625rem, 0rem + 0.6945vw, 1.666875rem);
                }
                width: 1.6vw;
                height: 1.5vw;
                font-size: clamp(0.7225rem, 0.0003rem + 0.9027vw, 2.166875rem);
                @include mixin.flex-container(row, center, center, 1vw);
                border-radius: 100%;
                // background-color: #bb86fc1f;
                box-shadow: 4px 2px 10px 2px #171616;
                color: $primary;
              }
            }
          }
          .memberFilter {
            @include mixin.flex-container(row, center, center, 0.1rem);
            min-width: 10%;
            height: fit-content;
            background-color: #bb86fc1f;
            color: $primary;
            border-radius: 0.2rem;
            // padding-inline: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
            padding: clamp(0.11125rem, 0rem + 0.1391vw, 0.33375rem);
            padding-left: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
            font-size: clamp(0.555625rem, 0rem + 0.6945vw, 1.666875rem);
            svg {
              width: clamp(1rem, 0rem + 1.25vw, 3rem);
              cursor: pointer;
            }
          }
        }
      }
    }

    .right {
      @media only screen and (max-width: 768px) {
        width: 100%;
        padding: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem);
      }
      background-color: $background;
      width: 50%;
      height: 88vh;
      @include mixin.flex-container(column, flex-start, flex-start, 0.5rem);
      padding: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem);
      padding-left: 0;
      padding-top: 0;
      .rightHeader {
        width: 100%;
        height: 5%;
        @include mixin.flex-container(row, space-between, center);
        // padding: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
        > div {
          @include mixin.flex-container(row, flex-start, center, 0.5rem);
          background: linear-gradient(to right, #bb86fc1f, #121212);
          color: $primary;
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          padding: clamp(0.11125rem, 0rem + 0.1391vw, 0.33375rem);
          padding-right: clamp(0.75rem, 0rem + 0.9375vw, 2.25rem);
          > img {
            width: clamp(1.5rem, 0rem + 1.875vw, 4.5rem);
          }
        }
        span {
          margin-right: clamp(0.5rem, 0rem + 0.625vw, 1.5rem);
          img {
            width: clamp(1.5rem, 0rem + 1.875vw, 4.5rem);
            transition: ease-in-out 300ms;
            padding: clamp(0.2225rem, 0.0003rem + 0.2777vw, 0.666875rem);
            background-color: #161616;
            &:hover {
              cursor: pointer;
            }
          }
          #selected {
            background-color: #bb86fc1f;
            border-bottom: 0.1vw solid $primary;
          }
        }
      }
      .mainRightContent {
        width: 100%;
        height: 95%;
      }
    }
  }
}

p {
  padding: 0;
  margin: 0;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}
